In [1]:
import pandas as pd
data=pd.read_csv("C:/Users/Rajesh/Documents/me/data_assignments/mod16/Movie.csv")
data.head()

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

In [2]:
#EDA
data.shape
data.dtypes
data.isna()
data.describe()
data.corr()

          userId    rating
userId  1.000000 -0.005597
rating -0.005597  1.000000

In [3]:

from sklearn.feature_extraction.text import TfidfVectorizer #term frequencey- inverse document frequncy is a numerical statistic that is intended to reflect how important a word is to document in a collecion or corpus

# Creating a Tfidf Vectorizer to remove all stop words
tfidf = TfidfVectorizer(stop_words="english")    #taking stop words from tfid vectorizer

In [4]:
data["movie"].isnull().sum() 
data["movie"] = data["movie"].fillna(" ")

In [6]:

tfidf_matrix = tfidf.fit_transform(data.movie)   #Transform a count matrix to a normalized tf or tf-idf representation
tfidf_matrix.shape #(8992, 19)

(8992, 19)

In [7]:
from sklearn.metrics.pairwise import linear_kernel

# Computing the cosine similarity on Tfidf matrix
cosine_sim_matrix = linear_kernel(tfidf_matrix,tfidf_matrix)

In [8]:

# creating a mapping of anime name to index number 
data_index = pd.Series(data.index,index=data['userId']).drop_duplicates()
data_index = data_index.dropna()

In [ ]:
def get_movie_recommendations(Name,topN):
    
   
    #topN = 10
    # Getting the movie index using its title 
    anime_id = data_index[Name]
    
    # Getting the pair wise similarity score for all the anime's with that 
    # anime
    cosine_scores = list(enumerate(cosine_sim_matrix[anime_id]))
    
    # Sorting the cosine_similarity scores based on scores 
    cosine_scores = sorted(cosine_scores,key=lambda x:x[1],reverse = True)
    
    # Get the scores of top 10 most similar anime's 
    cosine_scores_10 = cosine_scores[0:topN+1]
    
    # Getting the movie index 
    anime_idx  =  [i[0] for i in cosine_scores_10]
    anime_scores =  [i[1] for i in cosine_scores_10]
    
    # Similar movies and scores
    anime_similar_show = pd.DataFrame(columns=["name","Score"])
    anime_similar_show["name"] = anime.loc[anime_idx,"name"]
    anime_similar_show["Score"] = anime_scores
    anime_similar_show.reset_index(inplace=True)  
    anime_similar_show.drop(["index"],axis=1,inplace=True)
    print (anime_similar_show)
    #return (anime_similar_show)

    
# Enter your anime and number of anime's to be recommended 
get_movie_recommendations(39,topN=15)